@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Jimbo's Work</h1>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/galleryImages/1.jpg" style="width:100%" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/galleryImages/2.jpg" style="width:100%" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/galleryImages/3.jpg" style="width:100%" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/galleryImages/4.jpg" style="width:100%" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/galleryImages/5.jpg" style="width:100%" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/galleryImages/6.jpg" style="width:100%" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/galleryImages/7.jpg" style="width:100%" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/galleryImages/8.jpg" style="width:100%" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/galleryImages/9.jpg" style="width:100%" />
    </div>
</div>